 :root{
      --cor-de-fundo:var(--cor-de-fundo)
}
  
 body {
        background-color: var(--cor-de-fundo); 
 }

 h1 {
    background-color: aquamarine;
 }
.cabeçalho {  
   background-color: brown;

}

.cabeçalho-titulo{
   font-size: 47px;
   font-weight: 900;
   padding: 13px;
   text-align: center;


}
.bangtan-menu-item{
   background-color: black var(--fundo-menu);

}
 .bangtan-menu-item { 
   display: block
   padding: 18px;
   font-size:24px;
    ;}